body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
   display: flex;
   flex-direction: column;
   width: 94vw;
   margin-left: 3%;
   margin-right: 3%;
   align-items: center;

}

header {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.nav li{
   display: inline;
   margin-left: .4em;

}

.nav{
   display: flex;
   margin: .5em 0em;
   padding-inline-start:0px;
   align-items: center;
}

.modalBack{
   background-color: rgba(0,0,0,0.6);
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   z-index: 1;
   overflow: auto;
}

.detailsModal{
   display: flex;
   position: relative;
   transform: translateY(200px);
   flex-direction: column;
   background-color: white;
   border-radius: 3px;
   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
   margin-left: 20%;
   margin-right: 20%;
   padding: .5em 1em;
}

section{
   display: flex;
   flex-direction: column;
}

img{
   width: 20px;
}

.playerTable{
   margin-bottom: 1em;
}

#contacts{
   font-size: .9em;
}

#playerHead{
   display: flex;
   flex-direction: row;
   justify-content: center;
   user-select: none;
}

#playerHead:hover{
   cursor: pointer;
}

#playerHead>*{
   margin: .5em .2em;
}

#bookNav{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-bottom: .5em;
   max-width: 100;
   user-select: none;
}

#bookNav>*{
   margin: .25em;
   user-select: none;
}

#playersToggle{
   display: inline-flex;
   user-select: none;
}

#playersToggle p{
   margin: 0;
}

#welcome {
   margin-right: 1em;
}

#login, #login>*{
   display: flex;
   flex-direction:column;
   text-align: center;
   align-items: stretch;
   max-width: 400px;
}

#login{
   margin-top: 3em;
}

#login form>*{
   margin-bottom: 1em;
   text-align: center;
   user-select: none;
}

#addBook{
   display: flex;
   user-select: none;
}
